.git
.github
.gitignore
.env
.env.*
!.env.example
!.env.production.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
tests
phpunit.xml
README.md
*.md
.editorconfig
docker-compose.yml
Dockerfile
.dockerignore
